.form .input-group {
  width: 100%;
  display: table;
  border: none;
}
.form .input-group p,
.form .input-group input:not([type="radio"]) {
  display: table-cell;
  box-sizing: border-box;
  line-height: 100%;
  margin: 10px;
  width: 20%;
}
.form .input-group input:not([type="radio"]) {
  width: 100%;
  padding: 10px;
  border: 1px solid #e9e6dd;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.form .input-group input:not([type="radio"]):focus {
  border: 3px solid #9b59a1;
}
.form .input-group .is-invalid {
  box-shadow: 0 0px 20px #dd5454;
}
.form .radio-group span {
  margin: 10px;
}
.form .radio-group input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #e9e6dd;
  background-color: white;
  border-radius: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
}
.form .radio-group input[type="radio"]:checked {
  border-width: 5px;
  border-color: #9b59a1;
  background-color: white;
}
