#add-button {
    margin: 10px
}

.modal-body {
    background-color: lightgrey
}

#clothes-table th {
    position: sticky;
    top: 0;
}

.color-palette {
    width: 100%;
    height: 155px;
    cursor: crosshair;
}

input[name="color"] {
    display: none;
}


